.u-section-1 .u-sheet-1 {
  min-height: 61px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 61px;
}

.u-section-1 .u-container-layout-1 {
  padding: 5px 12px 6px;
}

.u-section-1 .u-text-1 {
  font-size: 1.375rem;
  font-style: italic;
  font-weight: normal;
  margin: 13px 9px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 61px;
}

.u-section-1 .u-container-layout-2 {
  padding: 1px 30px 18px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 18px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 61px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 17px;
}

.u-section-1 .u-icon-1 {
  width: 20px;
  height: 20px;
  margin: 7px 11px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375rem;
  margin: -20px auto 0 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 93px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 93px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 93px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 34px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 93px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 24px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 101px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 101px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 101px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 28px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 71px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 69px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 79px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-1 {
    width: 52px;
    height: 52px;
    margin-top: 0;
    margin-right: 26px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-top: -40px;
    margin-left: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 394px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 519px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 66px;
  background-image: url("../images/Background.jpg");
  background-position: 23.48% 24.74%;
  background-size: 290%;
}

.u-section-2 .u-container-layout-1 {
  padding: 14px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  min-height: 288px;
  background-image: url("../images/Chaussonshomme.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-size: auto 140%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  text-shadow: 0px 0px 2px rgba(0,0,0,1);
  font-size: 1.25rem;
  margin: 102px -3px 0;
}

.u-section-2 .u-image-3 {
  min-height: 288px;
  background-image: url("../images/ChaussonsFemme.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-size: auto 140%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  text-shadow: 0px 0px 2px rgba(0,0,0,1);
  font-size: 1.25rem;
  margin: 102px -1px 0;
}

.u-section-2 .u-image-4 {
  min-height: 288px;
  background-image: url("../images/Chaussonsenfants.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-size: auto 125%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  text-shadow: 0px 0px 2px rgba(0,0,0,1);
  font-size: 1.25rem;
  margin: 0 auto -1px;
}

.u-section-2 .u-slider-1 {
  width: 474px;
  min-height: 354px;
  height: auto;
  margin: -354px 61px 20px auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("../images/Baudrier.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-2 .u-text-5 {
  text-shadow: 0px 0px 11px rgba(0,0,0,0.65);
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../images/Magnesite.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 60px;
}

.u-section-2 .u-text-6 {
  text-shadow: 0px 0px 11px rgba(0,0,0,0.65);
  margin: 0 auto;
}

.u-section-2 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("../images/Promotions.jfif");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 60px;
}

.u-section-2 .u-text-7 {
  text-shadow: 0px 0px 11px rgba(0,0,0,0.65);
  margin: 0 auto;
}

.u-section-2 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 385px;
    margin-top: 25px;
  }

  .u-section-2 .u-image-2 {
    min-height: 287px;
  }

  .u-section-2 .u-image-3 {
    min-height: 287px;
  }

  .u-section-2 .u-image-4 {
    min-height: 287px;
  }

  .u-section-2 .u-slider-1 {
    width: 450px;
    min-height: 353px;
    margin-top: -353px;
    margin-right: 37px;
    margin-bottom: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 100px;
  }

  .u-section-2 .u-slider-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3059px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 861px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 365px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    min-height: 861px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    font-size: 3.75rem;
    margin-top: 365px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-4 {
    min-height: 861px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 3.75rem;
    margin-top: 365px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 3.75rem;
    margin-top: 102px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    min-height: 713px;
  }

  .u-section-2 .u-image-3 {
    min-height: 713px;
  }

  .u-section-2 .u-image-4 {
    min-height: 713px;
  }

  .u-section-2 .u-slider-1 {
    width: 340px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before,
.u-section-2 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-4.u-image-4.u-image-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-image-4.u-image-4.u-image-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-position: 50% 50%;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Support.png");
}

.u-section-3 .u-sheet-1 {
  min-height: 400px;
  position: relative;
  margin: 0 80px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px 0px 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 267px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 55px 20px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 32px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 26px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 26px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 267px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-3 .u-text-6 {
  margin: 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 300px;
    margin-right: calc(((100% - 1140px) / 2) + 150px);
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 53px;
    margin-right: -50px;
    margin-bottom: 3px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 187px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 358px;
    margin-right: calc(((100% - 1140px) / 2) + 260px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 249px;
    margin-right: calc(((100% - 1140px) / 2) + 350px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 50px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    margin-right: calc(((100% - 1140px) / 2) + 450px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }
}